WSDLSOAP/UnitTest/addwsdlnight.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.example.com/1641493428129/OperationImpl/Process/main" xmlns:ns0="http://www.tibco.com/schemas/SEP_WEBSERVICESJan1/sharedResources/schema/Schema.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://xmlns.example.com/1641493428129/OperationImpl/Process/main">
    <wsdl:types>
        <xs:schema xmlns="http://www.tibco.com/schemas/SEP_WEBSERVICESJan1/sharedResources/schema/Schema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/SEP_WEBSERVICESJan1/sharedResources/schema/Schema.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="ADDoperation">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:ReqMsg"/>
                        <xs:element ref="ns0:ResMsg"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ReqMsg">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Num1" type="xs:int"/>
                        <xs:element name="Num2" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ResMsg">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Result" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="Process_sp_Definition">
        <wsdl:port name="SOAPEventSource" binding="tns:SOAPEventSourceBinding">
            <soap:address location="http://localhost:8975/Process/main/Process%20Definition"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="PortType">
        <wsdl:operation name="Operation">
            <wsdl:input message="tns:Reqmsg"/>
            <wsdl:output message="tns:Resmsg"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SOAPEventSourceBinding" type="tns:PortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Operation">
            <soap:operation style="rpc" soapAction="/Process/main/Process%20Definition"/>
            <wsdl:input>
                <soap:body use="literal" parts="part1"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part1"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="Reqmsg">
        <wsdl:part name="part1" element="ns0:ReqMsg"/>
    </wsdl:message>
    <wsdl:message name="Resmsg">
        <wsdl:part name="part1" element="ns0:ResMsg"/>
    </wsdl:message>
</wsdl:definitions>